/* 일반 */

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.inner {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 4rem 0;
    box-sizing: border-box;
}

/* 타이틀 */

h1#title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* 검색창 */

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input#searchField {
    margin-top: 2rem;
    width: 40%;
    padding: 10px 32px;
    outline: none;
    border: 1px solid #333;
    font-size: 25px;
    box-sizing: border-box;
    transition: .4s ease;
}

form input#searchField:focus {
    background-color: #33333330;
}

/* 검색 결과 */

#numOfResult {
    padding: 1rem;
    height: calc(1rem * 2 + 20px);
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}

#resultBox {
    overflow-y: scroll;
    -webkit-scrollbar: none;
    height: 100%;
    margin-right: 2rem;
}

#resultBox::-webkit-scrollbar {
    display: none;
}

.resultItem {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: .5rem;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #333;
    transition: .4s ease;
}

.resultItem:hover {
    background-color: #33333330;
}

/* 검색 결과 상세 정보 */

.centerHead {
    width: 100%;
    padding-bottom: .5rem;
}

.centerHead .centerName {
    font-size: 20px;
    font-weight: 700;
}

.centerHead .centerTag {
    float: right;
    font-size: 11px;
    padding: 4px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

.centerAddress {
    padding-bottom: .5rem;
}

.centerPhoneNumber {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.centerPhoneNumber .material-icons {
    font-size: 18px;
    border-radius: 50%;
    margin-right: .5rem;
}

/* 지도 */

#map {
    width: 100%;
    height: 100%;
    display: block;
}

#infoWindow {
    width: 150px;
    text-align: center;
    padding: 6px 4px;
}
